# Ignore VMEC files
VMEC/*
!VMEC/xvmec2000_flow_netcdf
!VMEC/vmec_flow
!VMEC/input/input.Default

# Ignore output files
Output/*

# Ignore results (figures)
Results/*

# Ignore random other folders
AEs/*
non-luna-scripts/*

# Ignore random python files
__pycache__/*
plotting/__pycache__/*